/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ { 

    combos {
        compatible = "zmk,combos";
        combo_lbkt {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp LBKT>;
        };
        
         combo_rbkt {
            timeout-ms = <50>;
            key-positions = <2 3>;
            bindings = <&kp RBKT>;
        };

        combo_lbrc {
            timeout-ms = <50>;
            key-positions = <0 1 2>;
            bindings = <&kp LBRC>;
        };
        
         combo_rbrc {
            timeout-ms = <50>;
            key-positions = <1 2 3>;
            bindings = <&kp RBRC>;
        };
        
        combo_lpar {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp LPAR>;
        };
        
        combo_rpar {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp RPAR>;
        };

        combo_lt {
            timeout-ms = <50>;
            key-positions = <10 11 12>;
            bindings = <&kp LT>;
        };
        
        combo_gt {
            timeout-ms = <50>;
            key-positions = <11 12 13>;
            bindings = <&kp GT>;
        };

        reset_right {
            timeout-ms = <50>;
            key-positions = <0 10>;
            bindings = <&kp ESC>;
        };
    };

        keymap {
                compatible = "zmk,keymap";
                
       	default_layer {
		bindings = <
		&kp Q        &kp W         &kp F        &kp P        &kp G                  &kp J        &kp L        &kp U        &kp Y        &kp UNDERSCORE
		&kp A        &kp R         &kp S        &kp T        &kp D 			        &kp H        &kp N        &kp E        &kp I        &kp O
		&mt LSHIFT Z  &kp X    &kp C   &kp V  &kp B				    &kp K        &kp M  &kp COMMA &kp DOT &mt LSHIFT SLASH
          				                        &lt 1 SPACE  &kp TAB  		        &lt 2 RETURN   &kp BSPC 
		>;
		};

        second_layer {
		bindings = <
		&kp Q        &kp N7         &kp N8        &kp N9        &kp G                  &kp J        &kp L        &kp U        &kp Y     &kp UNDERSCORE
		&kp A        &kp N4         &kp N5        &kp N6        &kp D 			    &kp LEFT     &kp UP       &kp DOWN     &kp RIGHT    &kp O
		&kp N0       &kp N1         &kp N2        &kp N3        &kp B				&kp K        &kp M        &kp COMMA    &kp DOT      &mt LSFT SLASH
          				                        &trans  &kp TAB  		        &kp RETURN   &kp BSPC 
		>;
		};	
        third_layer {
		bindings = <
		&kp Q        &kp N7         &kp N8        &kp N9        &kp G                  &kp J        &kp L        &kp U        &kp Y     &kp UNDERSCORE
		&sk LCTRL    &sk LALT       &sk LMETA     &sk LSHFT     &kp D 			    &kp LEFT     &kp UP       &kp DOWN     &kp RIGHT    &kp O
		&bootloader    &kp C_VOL_UP       &kp C_VOL_DN     &kp A     &kp B				&kp K        &kp M        &kp COMMA    &kp DOT      &mt LSFT SLASH
          				                        &trans  &kp TAB  		        &kp RETURN   &kp BSPC 
		>;
		};	
        
	};
};
